openai
anthropic
cohere
serpapi
google-search-results
groq
google-genai
newspaper3k
numpy
bs4
nltk
psutil
sentence-transformers
peft
gradio
huggingface_hub
gradio_client
torch==2.4.1 #--index-url https://download.pytorch.org/whl/cpu
transformers
googlesearch-python
langid
lxml_html_clean
langchain
newsapi-python
replicate
fastapi
uvicorn
nest_asyncio
lxml
asyncio